{{ partial "header.html" . }}

<div class="content-wrapper">
{{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <ul>
     {{ $pages := .Site.RegularPages }}
     {{ if .IsHome }}{{ $pages := .Site.RegularPages }}{{ end }}
     {{ range (where $pages "Section" "!=" "") }}
     <li>
       <span class="date">{{ .Date.Format "2006/01/02" }}</span>
       <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
     </li>
     {{ end }}
   </ul>
</div>

<!-- {{ range .Site.Taxonomies.tags }}
<div>
    <h5><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h5>
    <time class="timeago" datetime='{{ .Page.Date.Format "2006-01-02T15:04:05-07:00" }}'>{{ .Page.Date }}</time>
</div>
{{ end }}

{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }} {{ $taxonomy }}</a>
    <ul>
      {{ range $key, $value := $taxonomy }}
      <li> {{ $key }} {{ $value }} {{ $taxonomy }} </li>
            <ul>
            {{ range $value.Pages }}
                <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
            {{ end }}
            </ul>
      {{ end }}
    </ul>
  </li>
{{ end }} -->

{{ partial "footer.html" . }}
