{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
<!-- {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }} -->
{{ if .Params.date }}<date class="date">{{ .Date.Format "2006/01/02" }}</date>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}
<div class="content-wrapper">
  <main>
    {{ .Content }}
    <a href="/"> >> Home</a>
  </main>
  <div class="disqus-comments">                  
    <button id="show-comments" class="btn btn-default" type="button" 
    style="margin-left: auto;margin-right: auto;display: block;">Show <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">comments</span>
    </button>
    <div id="disqus_thread"></div>
  </div>
  <script id="dsq-count-scr" src="//{{.Site.DisqusShortname}}.disqus.com/count.js" async></script>
  <script>
    (function(){
      let showCommentsBtn = document.getElementById("show-comments");
      showCommentsBtn.onclick = function(){
        var disqus_shortname = '{{.Site.DisqusShortname}}';
    
        (function() {
          var disqus = document.createElement('script'); 
          disqus.type = 'text/javascript'; 
          disqus.async = true;
          disqus.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(disqus);
        })();
    
        showCommentsBtn.style.display="none"; // Hide the button
      };
    })();
  </script>
</div>
{{ partial "footer.html" . }}
